{% extends 'layout.html' %}

{% load static %}

{% block title %} Algodex | Home {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'styles/home.css' %}"> {% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <div class="navbar">
            <a href="{% url 'home' %}" class="navbar-logo">Algodex</a>
            <a href="javascript:void(0);" class="navbar-icon" onclick="showNavbar()">
                <i class="fa fa-bars">☰</i>
            </a>
            <div class="navbar-items">
                <p class="navbar-greet">Hello, {{ request.user.username|title }}</p>
                <a class="category-name navbar-item" href="/">All</a>
                <a class="category-name navbar-item" href="?category=F2L">F2L</a>
                <a class="category-name navbar-item" href="?category=OLL">OLL</a>
                <a class="category-name navbar-item" href="?category=PLL">PLL</a>
                <a class="navbar-item" href="{% url 'create' %}">Post new algorithm</a>
                <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <div class="navbar">
            <p class="navbar-logo">Algodex</p>
            <a href="javascript:void(0);" class="navbar-icon" onclick="showNavbar()">
                <i class="fa fa-bars">☰</i>
            </a>
            <div class="navbar-items">
                <a class="category-name navbar-item" href="/">All</a>
                <a class="category-name navbar-item" href="?category=F2L">F2L</a>
                <a class="category-name navbar-item" href="?category=OLL">OLL</a>
                <a class="category-name navbar-item" href="?category=PLL">PLL</a>
                <a class="navbar-item" href="{% url 'login' %}">Join Algodex</a>
            </div>
        </div>
    {% endif %}

    {% if algorithms %}
        <div class="algorithms-container">
            {% for algorithm in algorithms %}
                <div class="algorithm">
                    <a href="{% url 'page' algorithm.id %}">
                        <h2 class="algorithm-name">{{ algorithm.name }}</h2>
                        <p class="algorithm-category">{{ algorithm.category }}</p>
                        <div class="algorithm-votes">
                            <p class="algorithm-yes">Works: {{ algorithm.yes_count }}</p>
                            <p class="algorithm-no">Fake: {{ algorithm.no_count }}</p>
                        </div>
                        <p class="algorithm-timestamp">{{ algorithm.created_at|timesince }} ago</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script src="{% static 'scripts/navbar.js' %}"></script>
{% endblock %}