{% extends 'layout.html' %}

{% load static %}

{% block title %} Algodex | {{ algorithm.name }} {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'styles/page.css' %}"> {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">{{ algorithm.name }}</h1>
        <p class="post-creator">Posted by: <a href="{% url 'profile' algorithm.creator.id %}">{{ algorithm.creator|title }}</a></p>
        <h3 class="moves">{{ algorithm.moves }}</h3>

        {% if algorithm.yes_count or algorithm.no_count %}
            {% if algorithm.yes_count > algorithm.no_count %}
                <p class="verify-info">{{ algorithm.yes_count }} people claimed this algorithm is working</p>
            {% else %}
                <p class="verify-info">{{ algorithm.no_count }} people claimed this algorithm does not works</p>
            {% endif %}
        {% else %}
            <p class="verify-info">No one has verify this algorithm yet. Be the first to verify!</p>
        {% endif %}

        <div class="vote-counts">
            <p class="vote-count">Works: {{ algorithm.yes_count }}</p>
            <p class="vote-count">Fake: {{ algorithm.no_count }}</p>
        </div>

        {% if not request.user in algorithm.voters.all and request.user != algorithm.creator %}
            <div class="vote-btns">
                <a class="vote-btn" href="{% url 'voting' 'yes' algorithm.id %}">It's working</a>
                <a class="vote-btn" href="{% url 'voting' 'no' algorithm.id %}">It's not working</a>
            </div>
        {% endif %}

        <a class="practice-btn" href="{% url 'practice' algorithm.id %}">Practice this algorithm</a>

        <p class="timestamp">{{ algorithm.created_at|timesince }} ago</p>
    </div>
{% endblock %}